<div class="flex flex-col">
  <header class="flex justify-around items-center text-center">
    <icon-button icon="arrow_back_2" size="large" (click)="handleScrollBackward()" />
    <div class="flex items-center">
      <icon-button icon="calendar_month" /><span
        class="ml-2 text-xl text-[royalblue] font-bold leading-4.5"
        >{{ date() === today ? 'Today' : date() }}</span
      >
    </div>
    <icon-button icon="play_arrow" size="large" (click)="handleScrollForward()" />
  </header>

  <main class="grow px-2 my-2 mb-16">
    @if (items()?.length) {
      @for (item of items(); track item.id) {
        <todo-item [item]="item" />
      }
    } @else {
      <div class="text-center mt-4 text-xl font-semibold text-[royalblue]">Nothing to do!</div>
    }

    @if (adding) {
      <todo-item
        [item]="{ name: '', completed: false, date: date() }"
        [newItem]="true"
        (cancelNew)="removeNew()"
      />
    }
  </main>

  <footer class="absolute bottom-0 w-full h-16 flex justify-around items-center bg-gray-300">
    <!-- <icon-button icon="settings" size="large" /> -->
    <icon-button icon="add" size="large" (click)="addItem()" />
  </footer>
</div>
