<button
  class="{{ size() === 'small' ? 'w-8 h-8' : 'w-10 h-10' }} rounded-full cursor-pointer shadow-sm"
  [style]="{
    color: colorMap[icon() || 'settings'],
    backgroundColor: colorMap[icon() || 'settings'],
    ...style(),
  }"
>
  @if (icon() === 'add') {
    <span class="material-symbols-rounded">add</span>
  } @else if (icon() === 'arrow_back_2') {
    <span class="material-symbols-rounded" style="font-variation-settings: 'FILL' 1"
      >arrow_back_2</span
    >
  } @else if (icon() === 'calendar_month') {
    <span class="material-symbols-rounded">calendar_month</span>
  } @else if (icon() === 'check') {
    <span class="material-symbols-rounded">check</span>
  } @else if (icon() === 'close') {
    <span class="material-symbols-rounded">close</span>
  } @else if (icon() === 'delete') {
    <span class="material-symbols-rounded">delete</span>
  } @else if (icon() === 'edit') {
    <span class="material-symbols-rounded">edit</span>
  } @else if (icon() === 'play_arrow') {
    <span class="material-symbols-rounded" style="font-variation-settings: 'FILL' 1"
      >play_arrow</span
    >
  } @else if (icon() === 'move_item') {
    <span class="material-symbols-rounded">move_item</span>
  } @else if (icon() === 'settings') {
    <span class="material-symbols-rounded">settings</span>
  } @else {
    <ng-content />
  }
</button>
