<div class="flex rounded-sm border border-gray-200 shadow-md p-4 mb-2 justify-between">
  <div>
    <input
      type="checkbox"
      class="scale-150 mr-2"
      [checked]="item().completed"
      (input)="toggleComplete()"
      [disabled]="editing()"
    />
    @if (editing()) {
      <input
        id="name"
        type="text"
        [(ngModel)]="newName"
        class="text-lg font-semibold inline border-b focus:outline-none"
        (keypress)="handleKeypress($event)"
      />
    } @else {
      <span class="text-lg font-semibold">{{ item().name }}</span>
    }
  </div>
  <div class="flex space-x-2">
    @if (editing()) {
      @if (newName) {
        <icon-button icon="check" (click)="saveName()" />
      }
      <icon-button icon="close" (click)="cancelEdit()" />
    } @else {
      <icon-button icon="move_item" [style]="{ rotate: '180deg' }" (click)="moveToPreviousDay()" />
      <icon-button icon="edit" (click)="setEditing()" />
      <icon-button icon="delete" (click)="deleteItem()" />
      <icon-button icon="move_item" (click)="moveToNextDay()" />
    }
  </div>
</div>
